<td align="center" bgcolor="#993300" class="inner-td"
    style="border-radius:6px; font-size:16px; text-align:center; background-color:inherit;">
    <a style="background-color:#101dba; border:1px solid #101dba; border-color:#101dba; border-radius:0px; border-width:1px; color:#ffffff; display:inline-block; font-family:verdana,geneva,sans-serif; font-size:16px; font-weight:normal; letter-spacing:1px; line-height:30px; padding:12px 20px 12px 20px; text-align:center; text-decoration:none; border-style:solid;"
        href="{{{verification_url}}}" target="_blank">Verify your
        account
    </a>
</td>